# Entornos virtuales
venv/
.venv/
env/
ENV/
.env/

# Archivos compilados de Python
_pycache_/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.db



# Configuración de entorno
*.env
.env.

# Archivos de logs
*.log
